@font-face {
    font-family: 'ChenYuluoyan 2.0';
    src: url('ChenYuluoyan-20-Thin.woff2') format('woff2'),
        url('ChenYuluoyan-20-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

